<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style/search.css">
	<script src="../../../build/react.js"></script>
    <script src="../../../build/react-dom.js"></script>
  	<script src="../../../build/browser.min.js"></script>
</head>
<body>
	<p style="width:100%;text-align:center;margin-top:30px;">Five Components</p>
	<div id="search"></div>
</body>

<script type="text/babel">
	var SearchBox=React.createClass({
		

		render:function(){
			return (
				<div className="searchBox">
					<Search  ></Search>
					<hr />
					<ProductTable product={this.props.product}></ProductTable>
				</div>
					);
		}
	});

	var Search=React.createClass({

		search:function(e){
			var e=e||window.event;
			if(e.keyCode==13)
			{
				console.log("开始查询了");
				this.props.onSearch();
			}
		},
		render:function(){
			return (
				<div className="search">
					<input type="text" placeholder="Search..." name="key" onKeyDown={this.search} /><br />
					<input type="checkbox" />Only show product in stock
				</div>
			);
		}
	});

	var ProductCategoryRow=React.createClass({
		render:function(){
			return (<tr><td colSpan="2">{this.props.category}</td></tr>);
		}
	});

	var ProductRow=React.createClass({
		render:function(){
			var name=this.props.product.stocked? this.props.product.name:<span style={{color:'red'}}>{this.props.product.name}</span>;
		return (	
				<tr>
					<td>{name}</td>
					<td>{this.props.product.price}</td>
				</tr>
			);
		}
	});

	var ProductTable =React.createClass({
		render:function(){
			var rows=[];
			var lastCategory =null;
			this.props.product.forEach(function(product){
				if(product.category!==lastCategory){
					rows.push(<ProductCategoryRow category={product.category} key={product.category}> </ProductCategoryRow>);
				}
				rows.push(<ProductRow product={product} key={product.name} />);
				lastCategory=product.category;
			});
			return	(
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						{rows}
					</tbody>
				</table>
			);
		}
	});

	var product = [
	  {category: 'Sporting Goods', price: '$49.99', stocked: true, name: 'Football'},
	  {category: 'Sporting Goods', price: '$9.99', stocked: true, name: 'Baseball'},
	  {category: 'Sporting Goods', price: '$29.99', stocked: false, name: 'Basketball'},
	  {category: 'Electronics', price: '$99.99', stocked: true, name: 'iPod Touch'},
	  {category: 'Electronics', price: '$399.99', stocked: false, name: 'iPhone 5'},
	  {category: 'Electronics', price: '$199.99', stocked: true, name: 'Nexus 7'}
	];

	//组件的入口
	ReactDOM.render(
		<SearchBox product={product} url="searchBox.php"></SearchBox>,
		document.getElementById("search")
	);
</script>

<script src="../../../jquery/jquery.js"></script>

</html>