*{
	margin:0;
	padding:0;
}

/*li,ul{
	list-style:none;
}*/

a{
	text-decoration: none;
}
.item{
	color:red;
	font-size:30px;
	font-weight:bold;
}

.navi{
	position:fixed;
	top:50%;
	right:20px;
	width:150px;
	height:300px;
	margin-top:-150px;
	/*background: #C7CCD0;*/
	/*border:1px solid blue;*/
}



.items{
	height:40px;
	width:100%;
	line-height:15%;
	/*margin:5% 0px;*/
}